h1, h2, h3, h4, h5, h6, li, p {
  color: #333333;
}

h1 {
  font-size: 24px;
}

h2 {
  padding-left: 4px;
}

h3, h4, h5 {
  padding-left: 8px;
}

ul, ol {
  /* list-style-type: none; */
}

blockquote {
}

blockquote p {
  background-color: #dddddd;
  color: #333333;
  border-radius: 10px;
  padding: 10px;
}


a {
  text-decoration: none;
  color: #11819e;
}

.kfmd-containor {
  padding: 16px;
}
